* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f4f6f9;
    background-color: black;
    font-family: "Nuckle", norlmal, sans-serif;
}

button {
    text-transform: uppercase;
}

ul {
    text-decoration: none;
    list-style: none;
}

.tabs {
    overflow: hidden;
    display: none;
    color: black;
}

a img {
    width: 30px;
    height: 30px;
}

.navbar-brand img {
    width: 70px;
    height: 70px;
}

.navbar-toggler span {
    background-color: black;
}

.collapse li img {
    width: 20px;
    height: 20px;
    align-items: center;
}

.collapse li .btn {
    height: 40px;
    margin-top: 8px;
}

.btn-outline-secondary i img {
    width: 15px;
    height: 15px;
}

.accordion button {
    width: 20rem;
}

#navbarNavLightDropdown ul li {
    display: inline-block;
}

/* end navbar */

.main {
    position: relative;
    height: auto;
    width: 100vw;
    margin: 0;
    padding: 75px 0 0 0;
}

.section-1 {
    position: relative;
    height: auto;
}

.left {
    width: 20vw;
    padding: 10px;
    left: 200px;
}

.sidebar {
    padding: 10px;
    background-color: #fff;
    border-radius: 8px;
    gap: 20px;
}

/* multi range slider */
.time-input {
    width: 100%;
    height: 30px;
    display: flex;
    margin: 30px;
}

.field-time input {
    width: 30px;
    height: 100%;
    outline: none;
    font-size: 19px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
    -moz-appearance: textfield;
}

.time-input .separator {
    width: 30px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}

.price-input {
    width: 100%;
    display: flex;
    margin: 30px 0 35px;
}

.price-input .field {
    display: flex;
    width: 100%;
    height: 45px;
    align-items: center;
}

.field input {
    width: 100px;
    height: 100%;
    outline: none;
    font-size: 19px;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #999;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.price-input .separator {
    width: 130px;
    display: flex;
    font-size: 19px;
    align-items: center;
    justify-content: center;
}

.slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
}

.slider .progress {
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #17a2b8;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

/* end multirange filter */
.right {
    width: 55vw;
}

.container {
    position: relative;
}

.grid {
    height: auto;
    display: flex;
    position: relative;
    padding: 0 240px 0 0;
    grid-row: 2;
}

.card {
    width: 350px;
    height: 410px;
}

.card:hover {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
}

/*new section*/
.section-2 {
    position: relative;
    padding: 100px;
    height: auto;
    width: auto;
}

.news-body {
    padding: 0 30px;
}

.news-header {
    width: 100%;
    padding: 0 40px;
}

.news-title {
    float: left;
    display: inline-block;
}

.all-news-link {
    float: right;
}

/*end news section*/

/*info section*/
.section-3 {
    position: relative;
    width: 100vw;
    height: 850px;
}

.info-section {
    position: relative;
    width: 1300px;
    padding: 100px;
    height: 700px;
    background: white;
    border-radius: 20px;
    top: 0;
    left: 0;
}

.info-head h1 {
    position: relative;
    display: flex;
    width: 913px;
    height: 115px;
    font-size: 3.8em;
    align-items: center;
    color: #101828;
}

.info-body p {
    font-size: 20px;
    align-items: center;
    position: relative;
    width: 550px;
    height: 75px;
    padding-top: 30px;
    line-height: 19px;
    letter-spacing: 0.045em;
    color: #6C757D;
}

.info-body button {
    position: relative;
    padding: 15px 35px;
    margin-top: 100px;
}

.group {
    position: absolute;
    width: 550px;
    height: 350px;
    top: 40%;
    left: 55%;
}

.group img {
    width: 550px;
}

.info-customers {
    margin-left: 10px;
    width: 400px;
}

.info-ellipse {
    margin-top: 60px;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    background: #B6DEEB;
}

.info-ellipse i {
    position: absolute;
    align-items: center;
    padding-top: 25px;
    margin: 0 auto;
}

.info-ellipse i img {
    size: 40px;
}

.info-ellipse .column {
    padding-left: 100px;
}

footer {
    background-color: #E8F0F2;
}

footer ul li {
    margin: 0 10px;
}

footer p {
    color: black;
}

@media screen and (min-width: 250px ) and (max-width: 300px) {
    .main {
        padding: 0;
    }

    .navbar {
        width: 100vw;
    }

    .form-control {
        width: 80px;
    }

    .tabs {
        display: flex;
        overflow: visible;
    }

    .tabs .nav-item {
        width: 140px;
    }

    form {
        display: none;
        overflow: hidden;
    }

    form input {
        display: none;
    }

    .form-control {
        display: none;
    }

    .input-group-text {
        display: none;
    }

    .container-fluid {
        display: flex;
        justify-content: space-between;
    }

    .navbar-brand {
        margin-left: 100px;
    }

    .card {
        height: 330px;
    }

    .accordion button {
        width: 210px;
        padding: 20px 0;
    }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 20
    }

    .left {
        left: 0;
        width: auto;
    }

    .tab-content .right {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .col {
        padding: 0 10px 0 0;
    }

    .card {
        margin: 0;
        width: 260px;
    }

    .m-3 {
        margin: 10px 5px !important;
    }

    .grid {
        padding: 0 5px;
        margin: 0;
        width: auto;
    }

    .section-2 {
        display: none;
        width: 300px;
    }

    .news-body {
        padding: 0
    }

    .section-3 {
        display: none;
        width: 300px;
    }

    footer {
        width: 100vw;
    }
}

@media screen and (min-width: 300px ) and (max-width: 330px) {
    .main {
        padding: 0;
    }

    .tabs {
        display: flex;
        overflow: visible;
    }

    .card {
        height: 350px;
    }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 20
    }

    .left {
        left: 0;
        width: auto;
    }

    .tab-content .right {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .col {
        padding: 0 10px 0 0;
    }

    .card {
        margin: 0;
        width: 300px;
    }

    .m-3 {
        margin: 10px 5px !important;
    }

    .grid {
        padding: 0 5px;
        margin: 0;
        width: auto;
    }

    .section-2 {
        display: none;
        width: 300px;
    }

    .accordion button {
        margin: 0;
        width: 78vw;
    }

    .news-body {
        padding: 0
    }

    .section-3 {
        display: none;
        width: 300px;
    }

    footer {
        width: 100vw;
    }
}

@media screen and (min-width: 330px ) and (max-width: 380px) {
    .main {
        padding: 0;
    }

    .tabs {
        display: flex;
        overflow: visible;
    }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 20
    }

    .left {
        left: 0;
        width: auto;
    }

    .tab-content .right {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .col {
        padding: 0 10px 0 0;
    }

    .card {
        margin: 0;
        width: 320px;
    }

    .accordion button {
        width: 288px;
    }

    .m-3 {
        margin: 10px 5px !important;
    }

    .accordion-header button {
        width: 300px;
    }

    .accordion-header button::after {
        width: 40px;
    }

    .btn {
        width: 300px;
    }


    .grid {
        padding: 0 20px;
        margin: 0;
        width: auto;
    }

    .section-2 {
        display: none;
        width: 300px;
    }

    .news-body {
        padding: 0
    }

    .section-3 {
        display: none;
        width: 300px;
    }

    footer {
        width: 100vw;
    }
}

@media screen and (min-width: 380px) and (max-width: 400px) {
    .main {
        padding: 0;
    }

    .tabs {
        display: flex;
        overflow: visible;
    }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 20
    }

    .left {
        left: 0;
        width: auto;
    }

    .tab-content .right {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .col {
        padding: 0 5px 0 0;
    }

    .card {
        margin: 0;
        width: 340px;
    }

    .m-3 {
        margin: 10px 5px !important;
    }

    .grid {
        padding: 0 20px;
        margin: 0;
        width: auto;
    }

    .section-2 {
        display: none;
        width: 300px;
    }

    .news-body {
        padding: 0
    }

    .section-3 {
        display: none;
        width: 300px;
    }

    footer {
        width: 100vw;
    }
}

@media screen and (min-width: 400px) and (max-width: 420px) {
    .main {
        padding: 0;
    }

    .tabs {
        display: flex;
        overflow: visible;
    }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 20
    }

    .left {
        left: 0;
        width: auto;
    }

    .tab-content .right {
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .col {
        padding: 0 5px 0 0;
    }

    .card {
        margin: 0;
        width: 350px;
    }

    .m-3 {
        margin: 10px 5px !important;
    }

    .grid {
        padding: 0 25px;
        margin: 0;
        width: auto;
    }

    .section-2 {
        display: none;
        width: 300px;
    }

    .news-body {
        padding: 0
    }

    .section-3 {
        display: none;
        width: 300px;
    }

    footer {
        width: 100vw;
    }
}

@media screen and (min-width: 760px) and (max-width: 1000px) {
    .main {
        padding: 0;
    }

    .tabs {
        display: none;
        overflow: visible;
    }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 20
    }

    .left {
        left: 0;
        width: auto;
        height: min-content;
    }

    .sidebar {
        display: block;
        width: auto;
        height: min-content;
    }

    .tab-content .left {
        display: flex;
        float: left;
        margin: 30px 0 0 30px;
        width: auto;
    }

    .tab-content .right {
        flex-direction: column;
        padding: 0;
        width: 40%;
        margin: 30px 0 0 0;
        display: block;
    }
    .accordion{
        margin: 10px 0 0 0;
    }

    .col {
        padding: 0 5px 0 0;
    }

    .card {
        margin: 0;
        width: 320px;
    }

    .m-3 {
        margin: 10px 5px !important;
    }

    .section-1{
        height: 900px;
        display: block;
        box-sizing: border-box;
        overflow: scroll;
    }
    .grid {
        padding: 0 15px;
        margin: 0;
        width: auto;
    }

    .section-2 {
        width: auto;
        padding: 50px 0;
    }
    .section-2 .col{
        width: 50%;
        padding: 10px;
    }
    .section-2 .col .card{
        width: 100% !important;
        height: auto !important;
        position: relative;
        /*margin: 10px;*/
    }
    .section-2 .col .card .card-body{
        padding: 10px;
    }
    .section-2 .col .card h4{
        font-size: 18px;
    }

    .news-body {
        padding: 0;
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .section-3 {
        display: none;
    }

    footer {
        width: 100vw;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1265px) {
    .main {
        padding: 50px 0 0 0;
        margin: 0;
    }

    .nav-tabs {
        display: none;
        overflow: visible;
    }

    .left {
        display: flex !important;
        float: left;
        position: initial;
    }

    .section-1 .sidebar {
        margin: 5px 0 0 0;
        display: flow-root;
        float: left;
        position: absolute;
    }

    .col {
        width: 380px !important;
    }

    .right {
        float: right;
        display: flow-root;
        position: relative;
    }

    .grid {
        padding: 0;
        margin: 0;
        right: -35%;
    }

    .card {
        margin: 0;
    }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 20
    }

    .section-2 {
        padding: 0;
        margin-bottom: 80px;
    }

    .news-body {
        width: 100vw;
    }

    .section-3 {
        padding: 0;
        width: auto;
    }

    .info-section {
        padding: 50px;
    }

    .info-body p {
        font-size: 15px;
        width: 400px;
    }

    .info-customers {
        margin-top: 0;
        width: 100px;
    }

    .info-customers .info-ellipse .column h1 {
        font-size: 25px;
    }

    .info-ellipse {
        margin-top: 40px;
    }

    .section-3 h1 {
        font-size: 40px;
    }

    .group {
        top: 40%;
        left: 40%;
        width: 400px;
    }

    footer {
        width: 100vw;
    }
}

@media screen and (min-width: 1265px) and (max-width: 1400px) {
    .main {
        padding: 50px 0 0 0;
        margin: 0;
    }

    .nav-tabs {
        display: none;
        overflow: visible;
    }

    .left {
        display: flex !important;
        float: left;
        position: initial;
    }

    .section-1 .sidebar {
        margin: 5px 0 0 0;
        display: flow-root;
        float: left;
        position: absolute;
    }

    .col {
        width: 380px !important;
    }

    .right {
        float: right;
        display: flow-root;
        position: relative;
    }

    .grid {
        padding: 0;
        margin: 0;
        right: 0;
    }

    .card {
        margin: 0;
        width: 280px !important;
        height: 350px;
    }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 20
    }

    .section-2 {
        padding: 0;
        margin-bottom: 80px;
    }

    .news-body {
        width: 100vw;
    }

    .section-3 {
        padding: 0;
        width: 100vw;
        margin-bottom: 50px;
    }

    .info-section {
        padding: 50px;
    }

    .info-body p {
        font-size: 20px;
        line-height: 1.1em;
        width: 500px;
    }

    .info-customers {
        margin-top: 0;
        width: 100px;
    }

    .info-customers .info-ellipse .column h1 {
        font-size: 25px;
    }

    .info-ellipse {
        margin-top: 40px;
    }

    .section-3 h1 {
        font-size: 50px;
    }

    .group {
        top: 30%;
        left: 40%;
        width: 400px;
    }

    .group img {
        width: 650px;
    }

    footer {
        width: 100vw;
    }
}

@media screen and (min-width: 1400px) and (max-width: 1600px) {
    .main {
        padding: 50px 0 0 0;
        margin: 0;
    }

    .nav-tabs {
        display: none;
        overflow: visible;
    }

    .left {
        display: flex !important;
        float: left;
        position: initial;
    }

    .section-1 .sidebar {
        margin: 5px 0 0 0;
        display: flow-root;
        float: left;
        position: absolute;
    }

    .col {
        width: 380px !important;
    }

    .right {
        float: right;
        display: flow-root;
        position: relative;
    }

    .grid {
        padding: 0;
        margin: 0;
        right: 0;
    }

    .card {
        margin: 0;
        width: 330px !important;
        height: 350px;
    }

    #ex2-tabs-1 .card {
        height: 400px;
    }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 20
    }

    .section-2 {
        padding: 0;
        margin-bottom: 80px;
    }

    .news-body {
        width: 100vw;
    }

    .section-3 {
        padding: 0;
        width: 100vw;
        margin-bottom: 50px;
    }

    .info-section {
        padding: 50px;
    }

    .info-body p {
        font-size: 20px;
        line-height: 1.1em;
        width: 500px;
    }

    .info-customers {
        margin-top: 0;
        width: 100px;
    }

    .info-customers .info-ellipse .column h1 {
        font-size: 25px;
    }

    .info-ellipse {
        margin-top: 40px;
    }

    .section-3 h1 {
        font-size: 50px;
    }

    .group {
        top: 30%;
        left: 47%;
        width: 400px;
    }

    .group img {
        width: 650px;
    }

    footer {
        width: 100vw;
    }
}

@media screen and (min-width: 1600px) and (max-width: 2000px) {
    .main {
        padding: 50px 0 0 0;
        margin: 0;
    }

    .nav-tabs {
        display: none;
        overflow: visible;
    }

    .left {
        display: flex !important;
        float: left;
        position: initial;
    }

    .section-1 .sidebar {
        margin: 5px 0 0 0;
        display: flow-root;
        float: left;
        position: absolute;
    }

    .col {
        width: 380px !important;
    }

    .right {
        float: right;
        /*display: flow-root;*/
        position: relative;
    }

    .grid {
        padding: 0;
        margin: 0;
        right: 0;
    }

    .card {
        margin: 0;
        width: 330px !important;
        height: 350px;
    }

    #ex2-tabs-1 .card {
        height: 400px;
    }

    .material-symbols-outlined {
        font-variation-settings: 'FILL' 0,
        'wght' 300,
        'GRAD' 0,
        'opsz' 20
    }

    .section-2 {
        padding: 30px 0;
        margin-bottom: 80px;
    }

    .news-body {
        width: auto;
        margin: 0 40px;
    }

    .section-3 {
        padding: 0;
        width: 100vw;
        margin-bottom: 50px;
    }

    .info-section {
        padding: 50px;
    }

    .info-body p {
        font-size: 20px;
        line-height: 1.1em;
        width: 500px;
    }

    .info-customers {
        margin-top: 0;
        width: 100px;
    }

    .info-customers .info-ellipse .column h1 {
        font-size: 25px;
    }

    .info-ellipse {
        margin-top: 40px;
    }

    .section-3 h1 {
        font-size: 50px;
    }

    .group {
        top: 30%;
        left: 47%;
        width: 400px;
    }

    .group img {
        width: 650px;
    }

    footer {
        width: 100vw;
    }
}